---
import HeaderLink from "./HeaderLink.astro";
import { ThemeToggle } from "./ui/theme-toggle";
import GithubLink from "./GithubLink.astro";
import MobileNav from "./MobileNav";
import { Home, ReceiptText } from "lucide-react";
import { HoverLinkPortfolio } from "./HoverLink";

const linkStyles =
  "py-4 px-2 border-b-2 border-b-transparent transition-colors hover:text-orange-500";
const linkStylesMobile =
  "flex w-full cursor-pointer items-center rounded-md p-2 font-medium text-accent-foreground hover:text-orange-500";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = "/" === pathname;
---

<header
  class:list={[
    "flex items-center justify-between gap-10 m-0 px-4 py-4 bg-white dark:bg-background/80 dark:border-b-2 dark:border-orange-500 shadow-md text-base",
    "sm:block sm:py-0 sm:px-8",
  ]}
>
  <nav class="hidden sm:flex items-center justify-between">
    <div class="flex items-center">
      <HeaderLink class={linkStyles} href="/" aria-label="Home icon">
        {
          isActive ? (
            <Home className="size-6 text-orange-500" />
          ) : (
            <Home className="size-6" />
          )
        }
      </HeaderLink>
      <HeaderLink class={linkStyles} href="/gallery">Gallery</HeaderLink>
      <HeaderLink class={linkStyles} href="/about">About</HeaderLink>
    </div>

    <div class="flex flex-row items-center gap-4">
      <HoverLinkPortfolio client:load />
      <ThemeToggle client:load />
    </div>
  </nav>

  <a href="/" class="flex sm:hidden items-center gap-3">
    <ReceiptText className="size-6 text-orange-500" />
    <span class="text-xl font-bold">My Boring Blog</span>
  </a>

  <MobileNav client:load>
    <nav class="flex flex-col gap-1 pt-2">
      <HeaderLink class={linkStylesMobile} href="/">Home</HeaderLink>
      <HeaderLink class={linkStylesMobile} href="/blog">Blog</HeaderLink>
      <HeaderLink class={linkStylesMobile} href="/about">About</HeaderLink>
    </nav>
  </MobileNav>
</header>
